body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Karla', sans-serif;
    color: #38423b;
    background-color: #EBEDEF;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
}

h2 {
    font-weight: 700;
    font-size: 2.1rem;
    margin: 4.2rem 0 2rem 0;
}

p {
    padding: 1.8rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 80%;
}

main {
    display: flex;
    justify-content: center;
    width: 80%;
}

iframe {
    width: 40%;
}

aside {
    width: 60%;
}

#play-btn {
    padding: 0.8rem;
    margin: 1.8rem;
    text-decoration: none;
    border: 1px solid #38423b;
    border-radius: 0.7rem;
    color: #38423b;
    transition: 0.3s;
}

#play-btn:hover {
    background-color: #38423b;
    color: #EBEDEF;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-btm {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;;
}

.social {
    color: #38423b;
    transition: 0.3s;
    font-size: 2.2rem;
}

.social:hover {
    color: #EBEDEF;
}

#guerra_img {
    max-width: 8rem;
    border-radius: 50%;
}