body {
  font-family: 'Press Start 2P', cursive;
  background-color: #00008B;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  color: white;
}

aside {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

#gameWindow {
    border: 4px double #BA55D3;
    background-color: black;
}

#container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: .15fr .7fr .15fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "top-left top-right top-right"
                          "game game game"
                          "btm-left btm-right btm-right";
    }
    
    #top-left, #top-right, #btm-left, #btm-right {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 4px double #BA55D3;
      color: white;
    }
    
    #top-left {
      grid-area: top-left;
    }
    
    #top-right {
      grid-area: top-right;
      /* background-color: #222; */
      /* background-image: url('../img/funky-lines.png'); */
    }
    
    main {
      grid-area: game;
    }
    
    
    #btm-left {
      grid-area: btm-left;
      /* background-color: #222; */
    }
    
    #btm-right {
      grid-area: btm-right;
      /* background-color: #222; */
    }